{% extends "base.html.twig" %}

{% block title %}Company Finance History Dashboard{% endblock %}

{% block section_title %}Company Finance History Dashboard{% endblock %}

{% block body %}
    <div class="col-6" id="filter">
        {% include 'company-filter/filter.html.twig' %}
    </div>
    <div class="row d-none">
        <div class="col-auto">
            <div id="history-chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto d-none" id="history-table-container">
            <table class="table stripe">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Volume</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('js/FilterForm.js') }}"></script>
    <script src="{{ asset('js/HistoryChart.js') }}"></script>
    <script src="{{ asset('js/HistoryTable.js') }}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            new FilterForm('#filter');
            new HistoryTable('#history-table-container');
            new HistoryChart('#history-chart');
        });
    </script>
{% endblock %}
